<app-landing-header></app-landing-header>
<div class="preview">
  <div class="preview--title">{{colors['hex'].name}}</div>
  <hex-color-picker
    class="preview--demo"
    color="#406090"
    (colorChanged)="colorsChanged($event, 'hex')">
  </hex-color-picker>
  <div class="preview--output">{{getName('hex')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['rgb'].name}}</div>
  <rgb-color-picker
    class="preview--demo"
    [color]="{ r: 60, g: 80, b: 120 }"
    (colorChanged)="colorsChanged($event, 'rgb')">
  </rgb-color-picker>
  <div class="preview--output">{{getName('rgb')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['rgbString'].name}}</div>
  <rgb-string-color-picker
    class="preview--demo"
    color="rgb(60, 80, 120)"
    (colorChanged)="colorsChanged($event, 'rgbString')">
  </rgb-string-color-picker>
  <div class="preview--output">{{getName('rgbString')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['rgba'].name}}</div>
  <rgba-color-picker
    class="preview--demo"
    [color]="{ r: 60, g: 80, b: 120, a: 0.5 }"
    (colorChanged)="colorsChanged($event, 'rgba')">
  </rgba-color-picker>
  <div class="preview--output">{{getName('rgba')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['rgbaString'].name}}</div>
  <rgba-string-color-picker
    class="preview--demo"
    color="rgba(60, 80, 120, 0.5)"
    (colorChanged)="colorsChanged($event, 'rgbaString')">
  </rgba-string-color-picker>
  <div class="preview--output">{{getName('rgbaString')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hsl'].name}}</div>
  <hsl-color-picker
    class="preview--demo"
    [color]="{ h: 200, s: 25, l: 32 }"
    (colorChanged)="colorsChanged($event, 'hsl')">
  </hsl-color-picker>
  <div class="preview--output">{{getName('hsl')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hslString'].name}}</div>
  <hsl-string-color-picker
    class="preview--demo"
    color="hsl(200, 25, 32)"
    (colorChanged)="colorsChanged($event, 'hslString')">
  </hsl-string-color-picker>
  <div class="preview--output">{{getName('hslString')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hsla'].name}}</div>
  <hsla-color-picker
    class="preview--demo"
    [color]="{ h: 200, s: 25, l: 32, a: 0.5 }"
    (colorChanged)="colorsChanged($event, 'hsla')">
  </hsla-color-picker>
  <div class="preview--output">{{getName('hsla')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hslaString'].name}}</div>
  <hsla-string-color-picker
    class="preview--demo"
    color="hsla(200, 25, 32, 0.5)"
    (colorChanged)="colorsChanged($event, 'hslaString')">
  </hsla-string-color-picker>
  <div class="preview--output">{{getName('hslaString')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hsv'].name}}</div>
  <hsv-color-picker
    class="preview--demo"
    [color]="{ h: 200, s: 25, v: 50 }"
    (colorChanged)="colorsChanged($event, 'hsv')">
  </hsv-color-picker>
  <div class="preview--output">{{getName('hsv')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hsvString'].name}}</div>
  <hsv-string-color-picker
    class="preview--demo"
    color="hsv(200, 25, 50)"
    (colorChanged)="colorsChanged($event, 'hsvString')">
  </hsv-string-color-picker>
  <div class="preview--output">{{getName('hsvString')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hsva'].name}}</div>
  <hsva-color-picker
    class="preview--demo"
    [color]="{ h: 200, s: 25, v: 50, a: 0.5 }"
    (colorChanged)="colorsChanged($event, 'hsva')">
  </hsva-color-picker>
  <div class="preview--output">{{getName('hsva')}}</div>
</div>
<hr>
<div class="preview">
  <div class="preview--title">{{colors['hsvaString'].name}}</div>
  <hsva-string-color-picker
    class="preview--demo"
    color="hsva(200, 25, 50, 0.5)"
    (colorChanged)="colorsChanged($event, 'hsvaString')">
  </hsva-string-color-picker>
  <div class="preview--output">{{getName('hsvaString')}}</div>
</div>
<hr>
