.preview {
  display: flex;
  align-items: center;
  padding: 60px;
  background-color: #ffffff;
  border-top: 1px solid #aaaaaa;

  &--title {
    flex-shrink: 0;
    width: 7em;
    padding-right: 20px;
    text-align: right;
  }

  &--demo {
    flex-shrink: 0;
  }

  &--output {
    margin-left: 20px;
    padding: 4px 8px;
    font-family: 'PT Mono', monospace;
    background-color: #eeeeee;
    border-radius: 4px;
  }
}

@media (max-width: 767px) {
  .preview {
    flex-direction: column;
    align-items: center;

    &--title {
      padding-right: 0;
      padding-bottom: 10px;
      text-align: center;
    }

    &--output {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}
