<ng-doc-root
  [sidebar]="!isLandingPage"
  [noWidthLimit]="isLandingPage"
  [footerContent]="footerContent">

  <ng-doc-navbar [glassEffect]="false" [search]="!isLandingPage" [hamburger]="!isLandingPage">

    <div ngDocNavbarLeft>
      <a
        size="large"
        routerLink="/"
        class="link-icon"
        ng-doc-button-icon
        ngDocTooltip="Go main page">
        <ng-doc-icon [size]="24" customIcon="home"/>
      </a>
      <a
        routerLink="/"
        class="brand link-text">
        <span class="brand-angular">Angular</span>
        <span class="brand-colorful">Colorful</span>
      </a>
    </div>

    <div ngDocNavbarRight>
      <div @preventInitialChild class="controls">
        <ng-doc-theme-toggle/>
        <a
          size="large"
          target="_blank"
          rel="noreferrer"
          ng-doc-button-icon
          ngDocTooltip="Repository on GitHub"
          href="https://github.com/ngx-eco/angular-colorful">
          <ng-doc-icon [size]="24" customIcon="github"/>
        </a>
        <a
          size="large"
          target="_blank"
          rel="noreferrer"
          ng-doc-button-icon
          ngDocTooltip="Package on NPM"
          href="https://www.npmjs.com/package/angular-colorful">
          <ng-doc-icon [size]="24" customIcon="package"/>
        </a>
      </div>
    </div>

  </ng-doc-navbar>

  <ng-doc-sidebar/>

  <router-outlet/>

</ng-doc-root>

<ng-template #footerContent>
  <div class="ng-doc-footer">MIT © 2025 Filipp Chibisov</div>
</ng-template>
