* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    outline: none;
}

body {
    color: #222;
    background-color: #fff;
    font: normal 20px/1.4 "Recursive", Arial, Helvetica, sans-serif;
}
