* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
}

body {
  color: #222222;
  font-family: Montserrat, Roboto, sans-serif;
  background-color: #ffffff;
}
